<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="team1.togather.mapper.GroupTabMapper">
		<!-- 로그인했을때 인덱스에 자기 관심사 그룹 보여주기  -->
		<select id="loginGroupList" resultType="GroupTab" parameterType="Map">
			<![CDATA[
			select * from (select ROWNUM rnum, aa.* from 
			(select * from groupTab where interest=
			(select category_first from member where category_first=#{category_first} and mnum=#{mnum}) 
			order by gseq desc) aa) where rnum>#{startRow} and rnum<=#{endRow}
			]]>
		</select>
		<!-- 여기서부터 로그인했을때 총 페이지갯수가져오는 -->
		<select id="pageCount" resultType="Integer" parameterType="Member">
			select count(*) from groupTab where interest=(select category_first from member where category_first=#{category_first} and mnum=#{mnum})
		</select>
		<!-- 여기서부터 로그인했을때 카테고리에 맞는 그룹이 없을때 총 페이지갯수가져오는 -->
		<select id="notCategorypageCount" resultType="Integer">
			select count(*) from groupTab
		</select>
		<!-- 로그인안했을때 인덱스 페이지   -->
		<select id="selectAll" resultType="GroupTab" parameterType="IndexCriteria">
			<![CDATA[
			select * from (select ROWNUM rnum, aa.* from (select * from groupTab order by gseq desc) aa)
	   		where rnum>#{startRow} and rnum<=#{endRow}
	   		]]>
		</select>
		<select id="selectAllname" resultType="Member">
			select m.mnum,m.mname from member m,grouptab g where m.mnum=g.mnum order by gseq desc
		</select>
		<select id="selectByGSeq" resultType="GroupTab" parameterType="long">
			select * from GROUPTAB where GSEQ=#{gseq}
		</select>
		<insert id="insert" parameterType="GroupTab">
			insert into GROUPTAB values(GROUPTAB_SEQ.nextval, #{gloc}, #{gname}, #{gintro}, #{interest}, #{limit}, SYSDATE, #{mnum}, #{fname}) 
		</insert>
		<update id="update" parameterType="GroupTab">
			update GROUPTAB set GLOC=#{gloc}, GNAME=#{gname}, GINTRO=#{gintro}, LIMIT=#{limit} WHERE GSEQ=#{gseq}
		</update>
		<delete id="delete" parameterType="long">
			delete from GROUPTAB where GSEQ=#{gseq}
		</delete>
		<!-- 인덱스 그룹 갯수 -->
		<select id="groupCount" resultType="long">
			select count(*) from GROUPTAB
		</select>
		<!-- 그룹인포안에 현재가입인원수 구하는 sql -->
		<select id="groupMemberCount" resultType="Long">
			select count(*) from mem_in_group where gseq=#{gseq}
		</select>
		<!-- 그룹인포안에 모임장 이름 구하는 sql -->
		<select id="groupInfoMemberName" resultType="Member">
			select mname from member where mnum=(select mnum from grouptab where gseq=#{gseq})
		</select>
		<!-- 그룹가입하는 sql -->
		<insert id="memInGroup" parameterType="MemInGroup">
			insert into MEM_IN_GROUP values(#{gseq},#{mnum},2)
		</insert>
		<!-- 그룹 탈퇴하는 sql -->
		<delete id="groupQuit" parameterType="MemInGroup">
			delete mem_in_group where mnum=#{mnum} and gseq=#{gseq}
		</delete>
		<!-- 모임 삭제하할때 안에있는 멤버들 삭제하는 sql -->
		<delete id="memInGroupDelete" parameterType="long">
			delete mem_in_group where gseq=#{gseq}
		</delete>
		<!-- 그룹수정할때 그룹 권한구하는 sql -->
		<select id="grade" resultType="Long">
			select grade from mem_in_group where mnum=#{mnum} and gseq=#{gseq}
		</select>
		<!-- 그룹인포누를때 로그인한 사용자가 모임가입했는지 구하는 sql -->
		<select id="memInGroupCheck" resultType="Long" >
			select mnum from mem_in_group where gseq=(select gseq from grouptab where gseq=#{gseq}) and mnum=#{mnum}
		</select>
		<!-- 그룹인포 모임멤버 이름 구하는 sql -->
		<select id="memInGroupName" resultType="HashMap" parameterType="MemInGroup">
			select m.mname,m.mnum,mi.grade from member m,mem_in_group mi where m.mnum=mi.mnum and gseq=#{gseq} order by grade
		</select>
		<!-- 그룹인포 모임gseq구하는 sql -->
		<select id="memInGroupGseq" resultType="long" parameterType="MemInGroup">
			select mi.gseq from member m,mem_in_group mi where m.mnum=mi.mnum and gseq=#{gseq} order by grade
		</select>
		<!-- 나의모임  이름 구하는 sql -->
		<select id="myGroup"  resultType="GroupTab" parameterType="long">
			select * from grouptab where gseq=any(select gseq from MEM_IN_GROUP where mnum=#{mnum}) order by GSEQ desc
		</select>
		<!-- 그룹만들고  그룹인포로 들어가는  sql -->
		<select id="insertGroupInfo" resultType="GroupTab" parameterType="GroupTab">
			select * from grouptab where gseq=(select max(gseq) from grouptab where mnum=#{mnum})
		</select>
	</mapper>